
.mainContainer {
  margin-top: 10%;
}
.gameBoard {
  margin-left: 35%;
}
.scoreBoard {
  max-width: 250px;
  padding: 20px;
  text-align: center;
  margin-left: 36.5%;
  background-color: #f7f7f7;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 2px 1px lightgray;
}
table{
  background-color: rgb(77, 77, 190);
  padding: 20px;
  border-radius: 6px;
}

input {
  max-width: 80px;
  min-height: 80px;
  font-size: 50px;
  text-align: center;
  background-color: white;
  border-radius: 6px;
}
button {
  padding: 5px;
  margin: 5px;
}


/*
SCSS

  margin-top: 10%;
  .scoreBoard {
    max-width: 250px;
    padding: 20px;
    text-align: center;
    margin-left: 36.5%;
    background-color: #f7f7f7;
    border: 1px solid #f9f9f9;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px 1px lightgray;
    button {
      padding: 5px;
      margin: 5px;
    }
  }
  .gameBoard {
    margin-left: 35%;
    table{
      background-color: rgb(77, 77, 190);
      padding: 20px;
      border-radius: 6px;
      input {
        max-width: 80px;
        min-height: 80px;
        font-size: 50px;
        text-align: center;
        background-color: white;
        border-radius: 6px;
      }
    }
  }

*/